{% extends 'base.html' %}
{% block content %}
{% load static %}

<center><h1>Witamy!</h1></center>

<div id="box-container">
    <div class="sizer" id="sizer-posts">
        <div id="square-posts">Ilość dostępnych ściąg
            <div id="value-posts">100</div>

        </div>

    </div>

    <div class="sizer" id="sizer-tutorials">
        <div id="square-tutorials">Ilość dostępnych poradników
            <div id="value-tutorials">100</div>

        </div>

    </div>

    <div class="sizer" id="sizer-users">
        <div id="square-users">Ilość użytkowników
            <div id="value-users">100</div>

        </div>

    </div>

</div>

<script type="text/javascript" language="JavaScript" src="{% static 'js/counter.js' %}"></script>
<script>
    animateValue("value-posts", 0, "{{posts}}", 500)

</script>
<script>
    animateValue("value-tutorials", 0, "{{tutorials}}", 500)

</script>
<script>
    animateValue("value-users", 0, "{{users}}", 500)

</script>
{% endblock %}

