{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1>Witamy!</h1>

Ilość dostepnych sciag:
<div id="value">0</div>
<p>Wszystkie sciągi można przejrzeć <a href="{%url 'post_list'%}">tutaj</a>.</p>

<script type="text/javascript" language="JavaScript" src="{% static 'js/counter.js' %}"></script>
<script>
    animateValue("value", 0, "{{posts}}", 500)
</script>
Ilość dostępnych tutoriali: {{ tutorials }}
<p>Wszystkie tutoriale można przejrzeć <a href="{%url 'tutorial_list'%}">tutaj</a>.</p>
{% endblock %}

