{% extends 'base.html' %}

{% block content %}
{% if list_title %}
<center><h1 class="post-list-title">{{ list_title }}</h1></center>
{% else %}
<center><h1 class="post-list-title">Wszystkie ściągi</h1></center>
{% endif %}

<ul class="post-list">
    {% for post in result %}

    <li>
        <div class="post-preview-card">
            <div class="post-details">
                <section class="post-info-section">
                    <h4><a href="{% url 'post-details' post.pk %}">{{ post.title }}</a></h4>
                    {{ post.publication_date }} | kategoria: <a href="{% url 'category' post.category|slugify %}">
                    {{ post.category }}</a>
                    | autor: <a href="{% url 'user_posts' post.author %}">{{ post.author }}</a>
                </section>

                {% if user.is_authenticated %}
                <section class="post-action-menu-section">
                    <ul class="post-action-menu">
                        <li><small><a href="{% url 'update-post' post.pk %}">Edytuj</a></small></li>
                        <li><small><a href="{% url 'delete-post' post.pk %}">Usuń</a></small></li>
                    </ul>

                </section>
                {% endif %}
            </div>

            <br>
            <div class="post-content">
                {{ post.short_description }}
            </div>
        </div>
    </li>
    <br>

    {% endfor %}

</ul>

{% endblock %}