{% extends 'base.html' %}

{% block content %}
{% if list_title %}
<center><h1 class="post-list-title">{{ tutorial_title }}</h1></center>
{% else %}
<center><h1 class="post-list-title">Wszystkie poradniki</h1></center>
{% if user.is_authenticated %}
<button class="btn btn-outline-success" onclick="location.href = '/add_tutorial'">Dodaj tutorial</button>
{% endif %}
{% endif %}

<ul class="post-list">
    {% for tutorial in result %}

    <li>
        <div class="post-preview-card">
            <div class="post-details">
                <section class="post-info-section">
                    <h4><a href="{% url 'tutorial-details' tutorial.pk %}">{{ tutorial.tutorial_title }}</a></h4>
                    {{ tutorial.tutorial_publication_date }} | kategoria: <a href="{% url 'category' tutorial.tutorial_category|slugify %}">
                    {{ tutorial.tutorial_category }}
                </a>
                    | autor: <a href="{% url 'user_profile' tutorial.tutorial_author %}">{{ tutorial.tutorial_author }}</a>
                </section>


            </div>

            <br>
            <div class="post-content">
                {{ tutorial.tutorial_short_description }}
            </div>
        </div>
    </li>
    <br>

    {% endfor %}

</ul>

{% endblock %}