{% extends 'base.html' %}

{% block title %}
{{ tutorial.tutorial_title_tag }}
{% endblock %}

{% block content %}
<h1>{{ tutorial.tutorial_title }}</h1>
<small>
    By: {{ tutorial.tutorial_author }} {{ tutorial.tutorial_publication_date }}
    {% if user.is_authenticated %}
    {% if user.id == tutorial.tutorial_author.id %}
    <a href="{% url 'update-tutorial' tutorial.pk %}">Edytuj</a>
    <a href="{% url 'delete-tutorial' tutorial.pk %}">Usuń</a>
    {% endif %}
    {% endif %}

</small>
<br/>
{{ tutorial.tutorial_body|safe }}

<br/><br/>
<a href="{% url 'tutorial_list' %}" class="btn btn-info">Powrót</a>

{% endblock %}